
<h1 ng-bind="$ctrl.titel"></h1>

 <ng-transclude></ng-transclude>

 <div class="audio">
    <audio ng-repeat="slide in $ctrl.slidesdata" 
        id='{{$ctrl.getAudioId( $index )}}' 
        ng-show="$ctrl.slide == $index"
        controls
    >
        <source id="{{$ctrl.getAudioId( $index )+'mp3'}}" 
                data-ng-src="{{$ctrl.getAudioSrc( $index )}}"           
        >
        <p>Ihr Browser unterstützt das HTML5 Video Element nicht :(</p>
    </audio>
 </div>
 

<button ng-hide="true" ng-click="$ctrl.start()">Start</button>