<slideview 
    slidesdata="$ctrl.slidesViewData"
    index="1" 
    titel="{{$ctrl.titel}}" 
    on-change="$ctrl.getCurrentSlide()"
    callback="$ctrl.hallo(text)"
>
</slideview>

<slidebar 
    slidesdata="$ctrl.slidesNavData"
    first="'Erste Folie'"
    prev="'Zurück'"
    next="'Vorwärts'"
    last="'Letzte Folie'"
    on-first="$ctrl.setzeAufErsteFolie()"
    on-last="$ctrl.setzeAufLetzteFolie()"
    on-prev="$ctrl.setzeAufVorherigeFolie()"
    on-next="$ctrl.setzeAufNaechsteFolie()"
    on-select="$ctrl.setzeAufFolie( folienIndex )"
    on-change="$ctrl.getCurrentSlide()"
>
</slidebar>